<div class="hero-unit">
  <h1>About Ecclesia</h1>
</div>

<div class="row">
  <div class="span10">

    <h3>Introduction</h3>
    <p><iframe src="http://player.vimeo.com/video/51040484?badge=0" width="570" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>

    <h3>The Spirit of Ecclesia</h3>
    <p>
      We want to bring young people into the cry of thirst of Jesus Christ – to hear that cry, to live it, and to pass it on to others. To do this, participants are plunged into a month-long formation program centered on encountering the Person of Jesus and allowing His love for the Father and for men to take hold of them.  This is the heart of the mystery of the Church, the unity of believers in the love of the Savior.  All of the activities and the rich offerings of the program (contemplative prayer, beautiful, reverent liturgy, invigorating studies, abundant fraternal charity, debates, discussions, sports, authentic cultural experiences, etc.) bring about and enhance this encounter.
    </p>
    <p>
      Designed to give “The most of the best to the thirstiest” the Ecclesia Institute is a kind of open door to the heart of the Church. Thanks to the engaging combination of the monastic life (provided by both the Benedictine Sisters whose university hosts the program and the Brothers and Sisters of St. John who facilitate it) and the open and engaging atmosphere of a thoroughly modern university, Ecclesia is an ideal setting for the future protagonists of the Church’s efforts in the Third Millennium to meet one another, discuss the timeless truths of Catholicism, and engage the difficult and deep questions of our modern society without fear or pretension.
    </p>
    <p style="width:100%;"><img src="/assets/IMG_6988.jpg" class="center link" alt="Washing feet" style="width:95%;margin-top:.4em;" /></p>
    <p>
      Through rich liturgy, intense silent Adoration, invigorating and challenging classes, and fruitful, fun experiences of Community, participants are given a true taste of the inner life of the Catholic Church – a life of love, of mercy, of joy, and of intense gift. Nothing evangelizes the world more than the life of the Church; nothing transmits the truth of Christ more faithfully than the life of the Church; nothing bears witness more to the presence of God than the life of the Church. And so, this is what the Ecclesia Institute seeks to give – an authentic experience of Catholic community, rooted in the monastic life, and flowing into an intelligent dynamic encounter with the modern world.
    </p>
    <p>
      Participants will be immersed in the monastic rhythms and intensity of the Brothers and Sisters of St. John. They will meet other young Catholic leaders just like themselves. They will drink at the source of the Wisdom of the tradition and challenge the questions of the modern world without fear. They will hear the cry of thirst and pass it on. They will serve the Church of the third millennium.
    </p>
    <h3 class="pushtop">Testimonials</h3>
    <a href="/assets/group.png" title="Father Nate leading a group on a day hike" class="lightbox"><img src="/assets/group.png" alt="Eagle Eye group on a hike" class="link" width="90%;" /></a>
    <p>“I loved being in community all the time. It was really awesome to be together deeply in study, prayer, meals etc.”</p>
    <p>“I love how cultured Ecclesia is. From talking to a Senator to watching and performing Antigone, I really feel that it helps form well rounded individuals.”</p>
    <p>“What has impacted me the most was all night Adoration and the amount of time we spent in Adoration the whole month. I’ve never spent so much time with Jesus, and I loved it!”</p>

  <% if Date.today < Date.new(2013, 6, 2) %>
    <div class="span5 center">
      <div class="alert-message block-message call-to-action">
        <h3 class="center">Grow in your Faith</h3>
        <a href="https://www.umary.edu/forms/ecclesia/" class="btn primary large center" style="width:70%;">Sign up for Ecclesia</a>
      </div>
    </div>
  <% end %>
</div>

  <div class="span5 offset1">
    <h3>Important dates</h3>
    <p>
      <table style="font-size:16px;">
        <tr>
          <td>May 15</td>
          <td>Scholarship application deadline</td>
        </tr>
        <tr>
          <td>June 1</td>
          <td>Registration deadline</td>
        </tr>
        <tr>
          <td width="80px;">June 30</td>
          <td>Students arrive</td>
        </tr>
        <tr>
          <td>August 4</td>
          <td>Program ends</td>
        </tr>
      </table>
    </p>

    <h3>Program Schedule</h3>
    <p>
      <table style="font-size:16px;">
        <tr>
          <td>Week 1</td>
          <td>Welcome and hiking trip in the Badlands</td>
        </tr>
        <tr>
          <td>Week 2</td>
          <td>Class session followed by cultural outing and service project</td>
        </tr>
        <tr>
          <td width="80px;">Week 3</td>
          <td>Class session followed by Stations of the Cross in Bismarck</td>
        </tr>
        <tr>
          <td>Week 4</td>
          <td>Class session and Silent Retreat</td>
        </tr>
        <tr>
          <td>Week 5</td>
          <td>Class session followed by final exams and pilgrimage to Our Lady</td>
        </tr>
      </table>
    </p> 

    <h3 class="pushtop1">What to bring</h3>
    <p>
      <ul style="margin-bottom:0;">
        <li>Catholic Catechism</li>
        <li>Bible</li>
        <li>Rosary</li>
        <li>Backpacking gear</li>
        <li>Snacks</li>
      </ul>
      <a href="https://docs.google.com/open?id=0B4OyJBFYNU3eV0tRWllxRktGeUE" class="btn" target="_blank">Get the complete list »</a>
    </p>

    <h3 class="pushtop1">Your daily life</h3>
     <table style="font-size:16px;">
      <tr>
        <td style="width:30%;">6:45 am</td>
        <td>Silent Prayer</td>
      </tr>
      <tr>
        <td>7:30 am</td>
        <td>Lauds</td>
      </tr>
      <tr>
        <td>8:05 am</td>
        <td>Breakfast</td>
      </tr>
      <tr>
        <td>8:45 am</td>
        <td>Lectio Divina</td>
      </tr>
      <tr>
        <td>9:30 am</td>
        <td>Philosophy class</td>
      </tr>
      <tr>
        <td>10:30 am</td>
        <td>Philosophy class</td>
      </tr>
      <tr>
        <td>11:45 am</td>
        <td>Sext</td>
      </tr>
      <tr>
        <td>12:00 pm</td>
        <td>Holy Mass</td>
      </tr>
      <tr>
        <td>1:00 pm</td>
        <td>Lunch</td>
      </tr> 
      <tr>
        <td>2:00 pm</td>
        <td>Free time or sports</td>
      </tr>
      <tr>
        <td>3:30 pm</td>
        <td>Theology class</td>
      </tr>
      <tr>
        <td>4:30 pm</td>
        <td>Theology class</td>
      </tr>
      <tr>
        <td>5:45 pm</td>
        <td>Dinner</td>
      </tr>
      <tr>
        <td>6:45 pm</td>
        <td>Vespers</td>
      </tr>
      <tr>
        <td>7:15 pm</td>
        <td>Adoration</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>Campfires, debates, free time, study groups</td>
      </tr>
    </table>
   
    <h3 class="pushtop1">More about us</h3>
    <p>
      The members of the Community of Saint John seek to fully live the evangelical counsels of poverty, virginity, and obedience in a spirit rooted in the Gospel of Saint John. 
    </p>
    <%= link_to "Learn more »", community_path, class: "btn" %>
  </div>
</div>
