<div class="hero-unit">
  <h1>Our Community</h1>
</div>

<div class="row">
  <div class="span10">
  <h3>Our history</h3>
  <p>
    Father Marie Dominique Philippe, O.P. is considered the founder of three religious
    congregations – the Brothers of St. John, the Contemplative Sisters of St. John, and the
    Apostolic Sisters of St. John – who seek to live in the grace of St. John the Apostle.
    Father Philippe often reminded the members of these Congregations that part of their
    essential mission was to be for Jesus in today’s Church what John was for Jesus in the Gospels.
    This the spirit which profoundly unites all of the members of the Family of Saint John and the Secular Oblates
    who cooperate with them.
  </p>

  <p>
  In 1982, the Contemplative Sisters of Saint John were begun. In 1994, these Contemplative Sisters were
  recognized by the Bishop of Lyons (France) as an Institute of Diocesan Rite.
  The Congregation of the Apostolic Sisters of Saint John came to be in 1984. They were recognized by the
  Bishop of Autun as an Institute of Diocesan Right in 1993.
  </p>

  <h3>The Community in America</h3>
  <p>
    The members of the Community of St. John seek to live out fraternal charity in as realistic way possible, so as to bear most effective witness to the mission of the Redeemer.  To this end, they live in small houses (called Priories).  As a general rule, the Contemplative and Apostolic Sisters try to found near their Brothers’ Priories so that the Family of St. John can bear witness to Jesus in its full complementarity. 
  </p>

  <p>
    The Brothers (quickly followed by the Contemplative Sisters) first founded a house in Laredo, Texas in 1986.  Ten years later, they founded a second house, in the Diocese of Peoria, Illinois.  This house eventually became the foundation of the Community’s Novitiate for the Brothers and Contemplative Sisters in the year 2000.  Finally, in 2006 the Brothers and Apostolic Sisters came to the inner city of Orange, New Jersey for the third American foundation.
  </p>

  <h3>The Spirit of our family</h3>
  <p>
  The members of the Community of Saint John seek to fully live the evangelical counsels of poverty,
  virginity, and obedience in a spirit rooted in the Gospel of Saint John. Their spirit flows from three of the
  salient features of St. John’s holiness found in his Gospel.
  </p>
  <a href="/assets/community1.png" title="A priest and two brothers adore the Eucharist" class="lightbox"><img src="/assets/community1.png" alt="Eucharistic adoration" width="95%" class="link" /></a>
  <p>
  First, St. John’s personal covenant with Jesus in the Eucharist is at the source of the Community’s silent
  adoration and liturgical prayer. This liturgy follows the monastic spirit, but its celebration is lightened
  because of the demands of the apostolic life, so that more time might be given to silent prayer in common.
  </p>
  <p>
  Secondly, St. John’s personal covenant with Mary, mother and guardian of the growth of the divine life of
  Faith, Hope and Charity in its members, and the divine milieu of contemplative life. Just as “the disciple
  took her into his home,” (John 19:27) this covenant is the foundation for the unity of fraternal charity
  lived in communal life.
  </p>
  <p>
  Thirdly, St. John’s personal covenant with St. Peter, found today in the person of the Holy Father: filial
  obedience to the Successor of Peter and to the Bishops in order to live the Church’s Tradition most faithfully and profoundly.
  </p>
  <p>
  In short, the members of the Family of St. John seek to give themselves to God without reserve for the
  salvation of souls. Such a total consecration of oneself to the Blessed Trinity can only be realized fully
  through the sacrifice of Christ, our High Priest, who offers himself as a holocaust victim of love of the
  Father on the Cross. For this reason, each member of the Family of St. John has at heart to strive to
  share in the mystery of the priesthood of Christ as profoundly as possible. This priesthood, which is the
  most precious gift given by Christ to His Church, is brought to completion (cf. Col. 1:24) in two ways:
  the royal priesthood of the faithful and the ministerial priesthood. By their religious life, all of the
  members of the Family of St. John seek to follow Saint John's example: they seek to follow the Lamb
  wherever he goes (Rev. 14), even to the Cross where he accomplishes his sacerdotal work as Beloved
  Son. This contemplative priesthood calls the members of the Family of St. John to constantly seek the
  Face of Christ so as to communicate his light and love to those to whom they have been sent. In and
  through this, the Community strives to glorify the Father with Christ and help today's world rediscover a
  sense of adoration and fraternal charity.
  </p>
  <p>
  Another key dimension of the spirit of the Family of St. John is found in their call to constantly seek
  to know and live in the truth as fully as possible. To accomplish this, members strive above all else to
  know and love the Word of God as found in the living Tradition of the Church (especially the Fathers of
  the church and St. Thomas Aquinas) and presented by the Church’s Magisterium. This desire to receive
  God’s revelation both for its own sake and in a way that will enable them to dialogue with others opens
  the members of the Community to engage in a genuinely philosophical inquiry, centered on the human
  person. This philosophical formation, done in the footsteps of Aristotle and with reference to St. Thomas
  Aquinas, does not neglect the major modern-day problems with which the Christian is confronted in
  today’s world, especially the various forms of atheism present in the world today. And yet, this rigorous
  formation in Theology and Philosophy is firstly undertaken with a view to communicating the mystery of
  our Divine Savior in its fullness to a world in desperate need of his saving truth. In this way, each member
  of the Community seeks to respond to Christ's mission to "present the patrimony of the faith to men of our
  time... in an understandable and persuasive fashion" (Evangelii Nuntiandi, 3).
  </p>

  <% if Date.today < Date.new(2013, 6, 2) %>
    <div class="span5 center">
      <div class="alert-message block-message call-to-action">
        <h3 class="center">Grow in your Faith</h3>
        <a href="https://www.umary.edu/forms/ecclesia/" class="btn primary large center" style="width:70%;">Sign up for Ecclesia</a>
      </div>
    </div>
  <% end %>
</div>

<div class="span5 offset1">
  <h3>Learn about your classes</h3>
  <p>
    You'll take two classes for three credits each.<br />
    <%= link_to 'Learn More »', courses_path, :class => "btn" %>
  </p>
  
  <% if Date.today < Date.new(2013, 6, 2) %>
    <div class="alert-message block-message call-to-action">
      <h3 class="center">Grow in your Faith</h3>
      <a href="https://www.umary.edu/forms/ecclesia/" class="btn primary large center" style="width:70%;">Sign up for Ecclesia</a>
      <p>
        Questions? Contact Katie Kimar at
        (216) 409-0973 or ecclesia@umary.edu
      </p>
    </div>
  <% end %>
</div>
</div>
</div>
