<div class="hero-unit">
  <h1>Contact Us</h1>
</div>

<div class="row">
  <div class="span11">
    <img src="/assets/hike.jpg" style="width: 640px;" />
    <h3>For Registration and Information</h3>
    <p>
      Renee Polka, admissions coordinator<br />
      956-206-7765<br />
      <a href="mailto:ecclesia@umary.edu">ecclesia@umary.edu</a>
    </p>

   <h3 class="pushtop1">More information</h3> 
    <p>
      <a href="http://www.umary.edu/ecclesia">University of Mary</a><br />
      Ecclesia is proudly presented by Eagle Eye Ministries.
      Visit Eagle Eye at <a href="http://www.eagleeyeministries.org">Eagle Eye Ministries</a><br />
      <a href="http://www.communityofstjohn.com/">Community of St. John</a><br />
      <a href="/assets/ecclesia_brochure.pdf">Download the brochure</a><br />
      <a href="/assets/ecclesia_poster.pdf">Download the poster</a>
    </p>

      </div>

  <div class="span5">
    <% if Date.today < Date.new(2013, 6, 2) %>
      <div class="alert-message block-message call-to-action" style="margin-top:0;">
        <h3 class="center">Grow in your Faith</h3>
        <a href="https://www.umary.edu/forms/ecclesia/" class="btn primary large center" style="width:70%;">Sign up for Ecclesia</a>
      </div>
    <% end %>
  </div>
</div>
