<div class="hero-unit">
  <h1>Contact Us</h1>
</div>

<div class="row">
  <div class="span11">
    <h3>For Registration and Information</h3>
    <p>
      Maureen Poirier, admissions coordinator<br />
      (800) 288-6279, ext. 8329<br />
      <a href="mailto:ecclesia@umary.edu">ecclesia@umary.edu</a>
    </p>

   <h3 class="pushtop1">More information</h3> 
    <p>
      <a href="http://www.umary.edu/ecclesia">www.umary.edu/ecclesia</a><br />
      View the <a href="http://www.youtube.com/user/EagleEyeMinistry">Eagle Eye YouTube channel</a><br />
      <a href="/assets/ecclesia_brochure.pdf">Download the brochure</a><br />
      <a href="/assets/ecclesia_poster.pdf">Download the poster</a>
    </p>

      </div>

  <div class="span5">
    <div class="alert-message block-message call-to-action" style="margin-top:0;">
      <h3 class="center">Grow in your Faith</h3>
      <a href="https://www.umary.edu/forms/ecclesia/" class="btn primary large center" style="width:70%;">Sign up for Ecclesia</a>
    </div>
  </div>
</div>
