<div class="hero-unit">
  <h1>Courses</h1>
</div>

<div class="row">
  <div class="span10">
    <h3 style="margin-bottom:0;">Theology of the Church</h3>
    <p>
      Father Thomas Duncan, CSJ
    </p>
    <p>
      The Church has such an important role in the life of Christians, perhaps more than ever before in the so-
      called secularized world of today. But have Christians grasped her specific role in their lives and do they know,
      therefore, how best to grow and flourish within her? We can ask ourselves how we look to the Church in her proper
      mystery and whether we are able to precisely communicate what we know to others. This course will help Christians
      to discover the mystery of the Church by focusing upon what is revealed, especially in Holy Scripture. The Holy Spirit
      also teaches us through the Church’s Tradition and her Doctors; this course will turn to Vatican II documents such a
      Lumen Gentium (1964) and Dei Verbum (1965) whilst looking at the key texts of Saint Thomas Aquinas. The course
      will look to face the great ecclesiological questions: Why did God institute the Church? What is the Church and
      what is her mission?
    </p>
      
    <h3 style="margin:1.5em 0 0 0;">Philosophy of Culture</h3>
    <p>
      Taught by Father Nathan Cromly, CSJ
    </p>
    <p>
      In order to respond to the needs of the New Evangelization called for by the Successor of Peter, this course
      will explore the philosophical questions surrounding the nature and experience of human culture, and especially the
      relationship between atheistic materialism and secularism in contemporary American culture. Beginning with an
      analysis of the major philosophical currents contributing to atheistic materialism in Western culture (from the
      Presocratics to Hegel and Darwin) and progressing through an analysis of the presence and impact of these currents
      in modern American culture (especially political secularism), this course will finish with an analysis of these currents
      of thoughts in the light of Aristotelian-Thomistic realism and the demands intrinsic to the Word of God for the New
      Evangelization. This course will seek to answer such questions as: What role does culture play in shaping morality?
      How do thought and idea shape culture? What is the relationship between culture, law, and morality? What is
      Aristotelian realism, and what is its importance for the evangelization called for by the Catholic Church? What is the
      relationship between radical materialism and political secularism?
    </p>

    <h3 style="margin:1.5em 0 0 0;">The Word of God</h3>
    <p>
      Brother Francis Therese Krautter, CSJ
    </p>
    <p>
      Though not offered for credit, these classes, offered twice a week, will help participants enter into a deeper understanding of the the place and power of the Word of God for our Christian Faith.  With both theological insight and practical advice, these classes will help participants learn to read the Word of God with Faith and appreciate its unique role in their sanctification.   On the days this class is not offered, the participants will gather for lectio divina in small groups, led by the Brothers and Sisters of St. John.  
    </p>
  </div>

<div class="span5 offset1">
  <% if Date.today < Date.new(2012, 6, 2) %>
    <div class="alert-message block-message call-to-action">
      <h3 class="center">Grow in your Faith</h3>
      <a href="https://www.umary.edu/forms/ecclesia/" class="btn primary large center" style="width:70%;">Sign up for Ecclesia</a>
      <p>
        Questions? Contact Maureen Poirier at
        (800) 288-6279, ext. 8329 or
        ecclesia@umary.edu
      </p>
    </div>
  <% end %>
</div>
</div>
