<div class="hero-unit">
  <h1>Courses</h1>
</div>

<div class="row">
  <div class="span10">
    <h3 style="margin-bottom:0;">Theology</h3>
	 <p>
      Taught by Father Nathan Cromly, CSJ,  with the help of Brother Francis Therese, CSJ and Father Alain-Marie, CSJ
	</p>
    <p>
      Instruction in Theology is founded on a three-year cycle.  Each course focuses upon what is revealed, especially in Holy Scripture, in order to help young people live out their apostolic vocation and to discover the mysteries of the Church and the Eucharist.  As Holy Spirit also teaches through the Church’s Tradition and her Doctors, these courses examine key texts of Saint Augustine and Saint Thomas Aquinas, as well as Vatican II documents and encyclical letters.
    </p>
    <h4>Theology of Evangelization</h4>
    <p>This course strives to help students understand the New Evangelization that is called for from within the Church in the perspective of Jesus Christ.</p>
    <ul>
      <li>What is the Church’s mission of Evangelization?</li>
      <li>What light does Holy Scripture shine upon the mystery of the spreading of the Good News?</li>
      <li>Are there certain tools and methods that have been revealed to us and that we can then wisely include in our efforts of evangelization?</li>
    </ul>
    <h4>Theology of the Church</h4>
    <p>The Church has such an important role in the life of Christians, perhaps more than ever before in the so-called secularized world of today.  But have Christians concretely grasped her specific role in their lives and do they know therefore how best to grow and flourish within her?  We can ask ourselves how we look to the Church in her proper mystery and whether we are able to precisely communicate what we know to others.</p>
    <ul>
      <li>Why did God institute the Church?</li>
      <li>What is the Church and what is her mission?</li>
    </ul>
    <h4>Theology of the Eurcharist</h4>
    <p>The Church has always held the Eucharist to be at the center of her life, for Jesus Christ freely gave this Sacrament that very place.  But have Christians grasped this specific gift of Jesus in their lives and do they know, therefore, how best to grow and flourish through receiving him in this divine and gentle way, perfectly adapted to our humanity?  This course calls students to contemplate the immensity of the gift of the Eucharist.</p>
    <ul>
      <li>Why did God institute the Eucharist?</li>
      <li>What is the Eucharist and what is asked of me as regards my commitment to best receive it?</li>
    </ul>
    <h4>Course Objectives</h4>
    <ul>
      <li>Understand the importance of Revelation, especially Holy Scripture, in a specifically Christian reflection.</li>
      <li>Know where to find in Holy Scripture, and analyze, the key texts revealing the mysteries of Christian evangelization, the Church, or the Eucharist.</li>
      <li>Discuss, through a selected few of their writings, theological contributions to this specific search for truth made by Church Doctors such as Saint Augustine and Saint Thomas Aquinas.</li>
      <li>Analyze key ideas about the course subjects as taught in Vatican II documents and encyclical letters.</li>
      <li>Discuss other course-specific topics:</li>
      <ul>
        <li>“The spirit of evangelization” and its relation to the fundamental importance of a number of methods.</li>
        <li>The mystery of the Church as “the Body of Christ,” “the Bride of Christ,” and “the Vine.”</li>
        <li>The bonds that God has revealed linking the mystery of the Eucharist to both the mystery of the Church and the mystery of Mary.</li>
      </ul>
    </ul>
      
    <h3 style="margin:1.5em 0 0 0;">Philosophy of Culture</h3>
    <p>
      Taught by Father Nathan Cromly, CSJ
    </p>
    <p>
      In order to respond to the needs of the New Evangelization called for by the Successor of Peter, this course explores the philosophical questions surrounding the nature and experience of human culture.  Students examine the major philosophical currents that influence Western culture as well as their presence and impact on modern American culture.  All courses finish with an analysis of these currents of thought in the light of Aristotelian-Thomistic realism and the demands intrinsic to the Word of God for the New Evangelization.
    </p>
    <p>
      Instruction in the Philosophy of Culture focuses on a particular subject each year. While the emphasis is placed upon evangelization, students will investigate the works of modern philosophers who have shaped our current cultural context. This year's class will focus on the impact of individualism in our American culture. In particular the thought of John Stuart Mill and Friedrich Nietzsche will be analyzed. After throughly considering the thought of each philosopher, students each summer will study Aristotle, Saint Thomas Aquinas, papal encyclicals and speeches, as well as other philosophers and Catholic voices.
    </p>
    <p>
      This course seeks to answer questions such as:
      <ul>
        <li>What role does culture play in shaping morality?</li>
        <li>How do thought and idea shape culture?</li>
        <li>What is the relationship between culture, law, and morality?</li>
        <li>What is Aristotelian realism, and what is its importance for the evangelization called for by the Catholic Church?</li>
        <li>What is the relationship between radical materialism and political secularism?</li>
      </ul>
    </p>
    <h4>Course Objectives</h4>
    <ul>
      <li>Analyze the basic content of various philosophical thoughts and the power of these philosophies present in our contemporary American society.</li>
      <li>Understand the relationship between culture and human acts, and its importance for moral judgments.</li>
      <li>Discuss the importance of philosophical reflection for the shaping of culture.</li>
      <li>Apply the basic philosophical approach of Aristotle to the question of the human person.</li>
      <li>Relate the place and importance of a realistic philosophy to the Catholic Church’s evangelization efforts.</li>
    </ul>

    <h3 style="margin:1.5em 0 0 0;">The Word of God</h3>
    <p>
      Though not offered for credit, these classes, offered twice a week, will help participants enter into a deeper understanding of the the place and power of the Word of God for our Christian Faith.  With both theological insight and practical advice, these classes will help participants learn to read the Word of God with Faith and appreciate its unique role in their sanctification.   On the days this class is not offered, the participants will gather for lectio divina in small groups, led by the Brothers and Sisters of St. John.  
    </p>
  </div>

<div class="span5 offset1">
  <div class="alert-message block-message call-to-action">
    <h3 class="center">Grow in your Faith</h3>
    <a href="https://www.umary.edu/forms/ecclesia/" class="btn primary large center" style="width:70%;">Sign up for Ecclesia</a>
    <p>
      Questions? Contact Renee Polka <br />
	  at 956-206-7765 <br />
	  or ecclesia@umary.edu
    </p>
  </div>
</div>
</div>
