<div class="hero-unit" style="background-image:url('/assets/Poster\ Picture.jpg');">
  <h1 class="highlight" style="margin-top:2em;">Go Further and Higher</h1>
  <div class="highlight">
    <p>Study theology and philosophy for six academic credits during a summer of prayer, evangelization, and fellowship with the Community of Saint John.</p>
  </div>
  <p style="margin-top:.5em;">
    <a class="btn large" href="/about">Learn more</a>
    <a href="https://docs.google.com/forms/d/12vriTr24_svHJFzRBAsQx7uStsHf-fqKo-xQvmXiJTg/viewform?edit_requested=true" class="btn primary large" href="#">Sign up</a>
  </p>
</div>

<div class="row">
  <div class="span10">
    <h3>About the Ecclesia Institute</h3>
    <p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/8HVIGcIq4Js?rel=0" frameborder="0" allowfullscreen></iframe>
    </p>
    <p class="extra-bottom">
    WELCOME to Ecclesia, where the Saints of the Third Millenium are formed and the protagonists of a New Evangelization can come to pray, study, and live in the “deep waters” of Catholic Faith. We invite you to join us this summer. Discover Jesus Christ in a whole new way.  Whet your appetite for truth.  Experience the joy of true unity and charity with others who share your Faith.
    </p>
    <p class="extra-bottom">
    In response to Pope John Paul II’s call to a New Evangelization, Ecclesia offers you the opportunity to earn undergraduate, graduate, or continuing education credits, all while experiencing a summer of prayer, study, evangelization, and fellowship with other young people from across the country.  Ecclesia seeks to especially serve those young people who are looking for a deeper and more intense experience of Christ and His Church.  We want to form young persons with what is best and most authentic in our Catholic Tradition:  the life of the Church herself.
    </p>
    <img src="/assets/simone.jpg" alt="Incredible landscape" width="45%;" class="left link" />
    <p class="extra-bottom">
      Persons of a variety of backgrounds and interests will join the Brothers and Apostolic Sisters of the Community of Saint John from June 30-August 4. Join us as we kick off the Ecclesia program with four days of back-packing in the North Dakota Badlands and then dive into the New Evangelization together. We want to help form evangelizers and leaders: those wanting to be Saints wherever they find themselves in the Church.
    </p>
    <p class="extra-bottom">
      <a href="/about">Learn more about what you'll be doing</a>
    </p>
    <p class="extra-bottom">
      Learn more about the Eagle Eye program: <a href="http://www.eagleeyeministries.org">EagleEyeMinistries.org</a>
    </p>
  </div>
  <div class="span5 offset1">
    <h3>Where you'll be</h3>
    <p style="text-align:center;"><img alt="University of Mary" width="275px" class="" src="/assets/conversation.jpg" /></p>
    <p>You'll stay at the expansive, hill-top campus of the <a href="http://www.umary.edu">University of Mary</a> in beautiful North Dakota. The campus has a tremendous view overlooking the Missouri River, and we'll spend several days backpacking in the nearby Badlands as well as visiting nearby cultural and historical sites.</p>
  </div>
  <div class="span5 pushtop1 offset1">
    <h3>How much it costs</h3>
    <p>The cost for Ecclesia includes six credit hours&ndash;three in theology and three in philosophy&ndash;in addition to food, lodging, transportation, study materials, and entertainment.</p>
    <ul>
      <li>Undergraduate: $3,500</li>
      <li>Graduate: $3,500</li>
      <li>Continuing Education: $1,900 (no credits granted)</li>
    </ul>
    <p>
      Don't let the cost deter you; there are scholarships available.
      <% if Date.today < Date.new(2015, 6, 2) %>
     <a href="https://docs.google.com/forms/d/1NjRQpQfA5h3XdiO_VwZWy8S_spEZTKUsEz1JBewMZks/viewform?edit_requested=true" target="_blank" class="btn">Apply for a scholarship »</a>
      <% end %>
    </p>
  </div>
</div>
