<div class="hero-unit" style="background-image:url('/assets/totus_tuus.jpg');">
  <h1 class="highlight" style="margin-top:2em;">Go Further and Higher</h1>
  <div class="highlight">
    <p>Study theology and philosophy for six academic credits during a summer of prayer, evangelization, and fellowship with the Community of Saint John.</p>
  </div>
  <p style="margin-top:.5em;">
    <a class="btn large" href="/about">Learn more</a>
    <a href="https://www.umary.edu/forms/ecclesia/" class="btn primary large" href="#">Sign up</a>
  </p>
</div>

<div class="row">
  <div class="span10">
    <h3>About the Ecclesia Institute</h3>
    <p>
    <a href="/assets/smiles2.png" title="Filled with the joy of the Holy Spirit!" class="lightbox"><img src="/assets/smiles2.png" alt="Smiling students" width="95%" class="link" /></a>
    </p>
    <p class="extra-bottom">
    WELCOME to Ecclesia, where the Saints of the Third Millenium are formed and the protagonists of a New Evangelization can come to pray, study, and live in the “deep waters” of Catholic Faith. We invite you to join us this summer. Discover Jesus Christ in a whole new way.  Whet your appetite for truth.  Experience the joy of true unity and charity with others who share your Faith.
    </p>
    <p class="extra-bottom">
    In response to Pope John Paul II’s call to a New Evangelization, Ecclesia offers you the opportunity to earn undergraduate, graduate, or continuing education credits, all while experiencing a summer of prayer, study, evangelization, and fellowship with other young people from across the country.  Ecclesia seeks to especially serve those young people who are looking for a deeper and more intense experience of Christ and His Church.  We want to form young persons with what is best and most authentic in our Catholic Tradition:  the life of the Church herself.
    </p>
    <a href="/assets/nature1.png" title="Experience a beauty that puts you in awe of God!" class="lightbox"><img src="/assets/nature1.png" alt="Incredible landscape" width="45%;" class="left link" /></a>
    <p class="extra-bottom">
      Persons of a variety of backgrounds and interests will join the Brothers and Apostolic Sisters of the Community of Saint John from July 3-August 5 . Join us as we kick off the Ecclesia program with four days of back-packing in the North Dakota Badlands and then dive into the New Evangelization together. We want to help form evangelizers and leaders: those wanting to be Saints wherever they find themselves in the Church.
      To learn more about what you'll be doing, <a href="/about">click here.</a>
    </p>
  </div>
  <div class="span5 offset1">
    <h3>Where you'll be</h3>
    <p style="text-align:center;"><a href="/assets/umary.jpg" title="The beautiful University of Mary" class="lightbox"><img alt="University of Mary" width="275px" class="link" src="/assets/umary.jpg" /></a></p>
    <p>You'll stay at the expansive, hill-top campus of the <a href="http://www.umary.edu">University of Mary</a> in beautiful North Dakota. The campus has a tremendous view overlooking the Missouri River, and we'll spend several days backpacking in the nearby Badlands as well as visiting nearby cultural and historical sites.</p>
  </div>
  <div class="span5 pushtop1 offset1">
    <h3>How much it costs</h3>
    <p>The cost for Ecclesia includes six credit hours&ndash;three in theology and three in philosophy&ndash;in addition to food, lodging, transportation, study materials, and entertainment.</p>
    <ul>
      <li>Undergraduate: $3,400</li>
      <li>Graduate: $3,400</li>
      <li>Continuing Education: $1,200 (no credits granted)</li>
    </ul>
    <p>
      Don't let the cost deter you; there are scholarships available.
      <a href="https://docs.google.com/document/d/1eJv9z5wvPVTVA5UbDQK6ZmXFjPAkEuL5jpzbJw4k1qM/edit" target="_blank" class="btn">Apply for a scholarship »</a>
    </p>
  </div>
</div>
