<div class="hero-unit" style="background-image:url('/assets/totus_tuus.jpg');">
  <h1 style="margin-top:2em;">Grow in the Faith</h1>
  <div class="highlight">
    <p>Study theology and philosophy for six academic credits during a summer of prayer, evangelization, and fellowship with the Community of Saint John.</p>
  </div>
  <p style="margin-top:.5em;">
    <a class="btn large" href="#">Learn more</a>
    <button id="signup" data-controls-modal="signup-modal" data-backdrop="true" data-keyboard="true" class="btn primary large" href="#">Sign up</button>
  </p>
</div>

<div class="row">
  <div class="span10">
    <h3>About the Ecclesia Institute</h3>
    <p>
    <a href="/assets/smiles2.png" title="Filled with the joy of the Holy Spirit!" class="lightbox"><img src="/assets/smiles2.png" alt="Smiling students" width="95%" class="link" /></a>
    </p>
    <p class="extra-bottom">
      In response to Pope John Paul II’s call to a New Evangelization, Ecclesia offers you the opportunity to earn undergraduate, graduate, or continuing education credits, all while experiencing a summer of prayer, evangelization, and fellowship with future leaders of the Catholic Church from across the country.
    </p>
    <a href="/assets/nature1.png" title="Experience a beauty that puts you in awe of God!" class="lightbox"><img src="/assets/nature1.png" alt="Incredible landscape" width="37%;" class="left link" /></a>
    <p class="extra-bottom">
      Participants from all over the United States will enjoy a month of prayer, community, and intellectual formation with three Brothers and one Apostolic Sister. Join us as we kick off the Ecclesia program with four days of back packing in the Badlands and then dive into the New Evangelization together. We want to help form evangelizers and leaders, those wanting to be Saints wherever they find themselves in the Church.
      To learn more about what you'll be doing, <a href="#">click here.</a>
    </p>
  <div class="span10">
    <h3>About our community</h3>
    <p>The members of the Community of Saint John want to live the evangelical counsels rooted in the three covenants revealed in the Gospel of Saint John.</p>
  </div>
</div>
  <div class="span5 offset1">
    <h3>Where you'll be</h3>
    <p style="text-align:center;"><a href="/assets/umary.jpg" title="The beautiful University of Mary" class="lightbox"><img alt="University of Mary" class="link" src="/assets/umary.jpg" /></a></p>
    <p>You'll stay at the <a href="http://umary.edu">University of Mary</a> in beautiful North Dakota. The campus has a tremendous view overlooking the Missouri River, and we'll spend several days backpacking in the nearby Badlands.</p>
    <!--
    <p>
      Here's the address of the university:<br />
      7500 University Drive<br />
      Bismark, ND 58504
    </p>
      <p style="text-align:center;">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=46.723682,-100.752182&zoom=12&size=250x175&sensor=false&output=embed" />
      </p>
    -->
  </div>
  <div class="span5 offset1 pushtop1">
    <h3>How much it costs</h3>
    <p>The cost for Ecclesia includes six credit hours&ndash;three in theology and three in philosophy&ndash;in addition to food, lodging, transportation, study materials, and entertainment.</p>
    <ul>
      <li>Undergraduate: $3,315</li>
      <li>Graduate: $3,495</li>
      <li>Continuing Education: $1,185</li>
    </ul>
    <p class="center">
      <button id="signup" data-controls-modal="signup-modal" data-backdrop="true" data-keyboard="true" class="btn primary large" href="#">Sign up</button>
    </p>
  </div>
</div>
 
<!-- Modal -->
<div id="signup-modal" class="modal hide fade in" style="display:none;">
  <div class="modal-header">
    <a href="#" class="close">x</a>
    <h3>Sign up</h3>
  </div>
  <div class="modal-body">
    <p>You can sign up using an online form on the University of Mary's website, or you can download the form, print it off, and follow the instructions.</p>
  </div>
  <div class="modal-footer">
    <a href="https://www.umary.edu/forms/ecclesia/" class="btn primary">Sign up online</a>
    <a href="#" class="btn secondary">Download form</a>
  </div>
</div>
