<div class="hero-unit">
  <h1>Liturgy and Music</h1>
</div>

<div class="row">
  <div class="span10">
    <p style="font-style:italic">"The musical tradition of the universal Church is a treasure of inestimable value, greater even than that of any other art. The main reason for this pre-eminence is that, as sacred song united to the words, it forms a necessary or integral part of the solemn liturgy." Sacrosanctum Concilium ¶ 112</p>
    <p style="font-style:italic">"The singing of the Church comes ultimately out of love. It is the utter depth of love that produces the singing. 'Cantare amantis est,' says St. Augustine, singing is a lover’s thing. In so saying, we come again to the trinitarian interpretation of Church music. The Holy Spirit is love, and it is he who produces the singing. He is the Spirit of Christ, the Spirit who draws us into love for Christ and so leads to the Father." - Pope Emeritus Benedict XVI, The Spirit of the Liturgy, p. 142</p>
    <p style="font-style:italic">"Whether it is Bach or Mozart that we hear in church, we have a sense in either case of what Gloria Dei, the glory of God, means. The mystery of infinite beauty is there and enables us to ex­perience the presence of God more truly and vividly than in many sermons." - Pope Emeritus Benedict XVI, The Spirit of the Liturgy, p. 148</p>

    <p>The liturgies of the Ecclesia institute will form an important and vital part of your growth in faith this summer. We turn to our mother, the Church, at whose feet we sit to learn to pray, through Her liturgical traditions. Sacred music plays a vital role in these liturgies, for it clothes the Word of God with splendor and beauty, and enables us to better worship God and grow in holiness.</p>
     
    <p>This summer, our liturgies will draw on the Church's vast treasury of sacred music as a means of drawing the hearts of all deeper into the mystery of God. Whether it be Gregorian chant, chant in English, choral music, or sacred organ music, the liturgical music at Ecclesia will strive to cultivate singers' talents in creating sublimely beautiful music in order to convey the reality of the earthly liturgy as a reflection of the Divine liturgy taking place continuously in heaven. The music, though varied, will reflect a fidelity to the Church's liturgical texts as outlined for us in the meditative chants (Gradual and Alleluia), and entrance, offertory, and communion antiphons of the Roman Missal, so that the beautiful and noble structure of the Roman rite will shine forth the glory of God.</p>

    <p>There are two levels of participation available to those who would like to take part in the music program at this summer's institute:</p>
    <ul>
      <li>Rehearsal 5 days/week for 45 minutes, singing at most of the institute's liturgies</li>
      <li>Rehearsal 2 days/week for 45 minutes, joining with the above group, singing at Sunday and feast day liturgies</li>
    </ul>     

    <p>The following will also be a part of this summer's institutes for all participants:</p>
    <ul>
      <li>The celebration of the extraordinary form of the Roman rite twice throughout the institute. All other liturgies will be in the ordinary form of the Roman rite.
      <li>Twice weekly talks about sacred music and the liturgy to help you grow in your love and appreciation for our Church's beautiful traditions and liturgy.</li>
    </ul>
     
    <p>For those who are interested in a more intensive study of sacred music, the following option is available:</p>
    <ul>
      <li>Private lessons in singing and/or directing Gregorian chant as arranged with the Music Director</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span10">
    <h3>About Ecclesia's Music Director</h3>
    <p>Dr. Jennifer Donelson is an assistant professor of music at Nova Southeastern University in Fort Lauderdale. She received her DMA in Piano Performance from the University of Nebraska-Lincoln where she studied piano with Paul Barnes, Mark Clinton, and Ann Chang, and organ with Quentin Faulkner. A specialist in the piano works and writings of Olivier Messiaen, she has lectured on and given performances of portions of the Vingt Regards sur l’Enfant-Jésus throughout the United States, France, and Mexico. Dr. Donelson has been awarded numerous academic fellowships, as well as a grant supporting her research at the Bibliothèque Nationale de France on the controversy surrounding the premiere of Messiaen’s Vingt Regards. She has presented her work on Messiaen and Charles Tournemire at the national conference of the College Music Society, the annual conferences of the Society for Catholic Liturgy, and at the International Conference on Music Since 1900 at Lancaster University (UK). Her publications include articles in the New Catholic Encyclopedia, Sacred Music, Antiphon: A Journal for Liturgical Renewal, and a forthcoming edited volume of essays on Charles Tournemire’s L’Orgue Mystique. In February 2012, she hosted and presented a paper at a national conference of the Church Music Association of America on the work of Charles Tournemire and has subsequently assumed the role of Academic Liaison for the CMAA, in which she develops academic initiatives and organizes academic conferences for the organization. She currently serves as a board member of the Society for Catholic liturgy and as the associate managing editor of the CMAA’s Sacred Music journal.</p>
 
    <p>Having studied Gregorian chant at the Catholic University of America and Abbey of St. Peter in Solesmes, Dr. Donelson has served as the director of music at St. Gregory the Great Seminary (Diocese of Lincoln, NE) and St. Thomas Aquinas Newman Center (UNL) where she founded the Cor Immaculatae Schola Cantorum, a semi-professional vocal ensemble dedicated to the performance of Gregorian chant and sacred polyphony. She has given diocesan workshops in Gregorian chant across the U.S., is a founder of the annual Musica Sacra Florida Gregorian chant conference, directed the children’s choirs at the Oratory at Ave Maria according to the Ward method, and has served on the faculty of the annual colloquium of the Church Music Association of America. She currently directs the schola cantorum at the Mission of Sts. Francis and Clare in Miami, where the extraordinary form of the Roman Rite is celebrated weekly.</p>
  </div>
</div>
