<div class="hero-unit">
  <h1>Testimonials</h1>
</div>

<div class="row">
  <div class="span8">
    <p>"Personally, I have greatly benefitted from the beautiful community life that we live. I have made friends on a deep level, where holiness is the number one goal. I have learned important ways I can give back to the Church. Intellectually, Ecclesia represents a major shift in the way I think which will influence the way I act."</p>
    <p>—Mary Blazier</p>
    <p>"This program has completely changed the way I approach learning and questions. I have also grown in my love of scripture as a living word - as Jesus revealing himself to me. Ecclesia has helped me to understand and participate in what St. Ireneus of Lyons is quoted as saying. "The Glory of God is man fully alive!"</p>
    <p>—Shirley Plaag</p>
    <p>"HOPE! It has been an experience which gave me a great deal of hope and confidence about being a Catholic young adult in the modern world. At Ecclesia I have realized I am not crazy, I'm just one of many young Catholics on an honest search."</p>
    <p>—Joseph Furneguera</p>
    <p>"A deeper appreciation for MYSTERY, Intellectual formation that will help carry me through seminary (I wish I had it before college!) and a community to rely on."</p>
    <p>—Stuart Weiss</p>
    <p>"Fr. Nathan reminded us that for God, 1,000 years are like a day and so that every day He may have 1,000 years of work to do in our souls (especially at an event like this, made possible by the generosity of those who enabled us to be here for an entire month) and truly I feel as though 30,000 years worth of seeds have been planted in my soul, whose fruits will spread to the whole Church."</p>
    <p>—Anna Svendsen</p>
    <p>"I have benefitted in community life. I have received deeper roots intellectually and spiritually in the places where the Church stands in the Truth and its thirst for the Truth. I also have a greater love and attention to scripture. I believe Ecclesia is the best program to discover the Church and its beauty."</p>
    <p>—Mary Evinger</p>
  </div>

  <div class="offset1 span7">
    <%= image_tag "smile1.png", style: "width:80%" %>
    <%= image_tag "smile2.png", style: "width:80%" %>
    <%= image_tag "smile3.png", style: "width:80%" %>
  </div>
</div>
