<!DOCTYPE html>
<html>
<head>
  <title>Ecclesia Institute</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen" />
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="/js/jquery.lightbox-0.5.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30190758-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<header class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Ecclesia Institute</a>
      <ul class="nav">
        <li id="home">
          <a href="/">Home</a>
        </li>
        <li id="about">
          <a href="/about">About Ecclesia</a>
        </li>
        <li id="community">
          <a href="/community">Our Community</a>
        </li>
        <li id="courses">
          <a href="/courses">Courses</a>
        </li>
        <li id="music">
          <a href="/music">Music and Liturgy</a>
        </li>
        <li id="testimonials">
          <a href="/testimonials">Testimonials</a>
        </li>
        <li id="contact">
          <a href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</header>


<div class="container">
  <% if Date.today < Date.new(2014, 6, 2) && Date.today > Date.new(2014, 1, 1) %>
    <div class="alert alert-info"><strong>Heads up!</strong> June 1st is the last day to apply for the Ecclesia Institute. Be sure to turn in your application before then.</div>
  <% end %>
  <%= yield %>
</div>

<footer>
  <p>
    Contact us:
    <a href="mailto:ecclesia@umary.edu">ecclesia@umary.edu</a> |
    tel: 956-206-7765<br />
    &copy; 2014 <a href="http://www.communityofstjohn.com/">Community of St. John</a>
  </p>
</footer>

</body>
</html>
